# Dotnet build output
bin/
obj/

# User-specific files
*.user
*.suo
*.vspscc
.vs/

# Logs
*.log

# Database files
*.db
*.sqlite

# Docker artifacts
pgdata/
node_modules/
.env

# Publish folder
/app/publish/
